<div class="container">
    <div class="container" ng-show="!summary.gridOptions.data.length">
        <div class="msg">
            <div class="center">
                <span class="muted">Select Spreadsheet File</span>
                <br/>
                <input type="file" accept=".xls,.xlsx,.ods" fileread=""
                       opts="summary.gridOptions" multiple="false"/>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success" ng-click="summary.getAllDefects()">
            Get Saved Defects
        </button>
    </div>
</div>

<div class="table-responsive" ng-show="summary.gridOptions.data.length">
    <table id="defectSpreadsheetTable" class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>Application</th>
            <th>Defect ID</th>
            <th>Summary</th>
            <th>Application Group</th>
            <th>Assigned Developer</th>
            <th>Assigned Tester</th>
            <th>Assigned To</th>
            <th>Clarity ID</th>
            <th>Fixed By</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="defect in summary.gridOptions.data | orderBy: 'defectId'"
            ng-click="summary.spreadSheetItemClicked(defect)">
            <td>{{defect.Application}}</td>
            <td>{{defect['Defect ID']}}</td>
            <td>{{defect.Summary}}</td>
            <td>{{defect['Application Group']}}</td>
            <td>{{defect['Assigned Developer']}}</td>
            <td>{{defect['Assigned Tester']}}</td>
            <td>{{defect['Assigned To']}}</td>
            <td>{{defect['Clarity ID']}}</td>
            <td>{{defect['Fixed By']}}</td>
        </tr>
        </tbody>
    </table>
</div>
<br/>
<button type="button" class="btn btn-default"
        ng-show="summary.gridOptions.data.length" ng-click="summary.reset()">
    Reset Grid
</button>
<div class="table-responsive" ng-show="summary.savedDefectList.length">
    <h2>QV and QVXP Defects Summary</h2>
    <br/>
    <table id="defectTable" class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>Defect Id</th>
            <th>Project Name</th>
            <th>App Name</th>
            <th>Team Name</th>
            <th>Severity</th>
            <th>Injected Stage</th>
            <th>Identified Stage</th>
            <th>Root Cause</th>
            <th>Solution To Fix</th>
            <th>Issue Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="defect in summary.savedDefectList | orderBy: 'defectId'">
            <td>{{defect._id}}</td>
            <td>{{defect.projectName}}</td>
            <td>{{defect.appName}}</td>
            <td>{{defect.team}}</td>
            <td>{{defect.severity}}</td>
            <td>{{defect.injectedStage}}</td>
            <td>{{defect.identifiedStage}}</td>
            <td>{{defect.rootCause}}</td>
            <td>{{defect.solutionToFix}}</td>
            <td>{{defect.description}}</td>
            <td>
                <div class="drop-btn">
                    <button type="submit" class="btn btn-default" ng-click="summary.updateDefect(defect)">
                        Update
                    </button>
                    <!-- <button type="submit" class="btn btn-danger" ng-click="summary.deleteDefect(defect._id)">
                         Delete
                     </button>-->
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>