<div class="container main-header">
    <h2>Project Report</h2>
    <form class="form-horizontal" role="form" autocomplete="off">
        <h4 class="error-message" ng-model="report.errorMessage" ng-show="report.errorMessage.length">
            {{report.errorMessage}} </h4>
        <div class="form-group">
            <label class="control-label col-sm-2">Release Date:</label>
            <div class="col-sm-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{report.releaseDateFormat}}"
                           ng-model="report.project.releaseDate"
                           show-button-bar="false"
                           show-weeks="'false'"
                           datepicker-options="report.projectViewDateOptions"
                           is-open="report.reportDatePicker.opened"
                           close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="report.reportDatePickerOpen()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="devMonth">Dev Month :</label>
            <div class="col-sm-3">
                <select class="form-control" id="devMonth" ng-model="report.project.devMonth"
                        ng-options="month for month in months">
                    <option value="" selected>Select Month</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="projectCode">Project Name / PR Code:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="projectCode" ng-model="report.project.projectName"
                       placeholder="Enter Project Name/ PR Code">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="storyPoints">Story Points :</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="storyPoints" ng-model="report.project.storyPoints"
                       placeholder="Enter Story Points">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="team">Team :</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="team" ng-disabled="report.teamSelectDesable"
                        ng-model="report.teamName"
                        ng-options="value._id as value.team for value in report.teamsList">
                    <option value="">-- Select Team --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="artifacts">Artifacts History :</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="artifacts" ng-model="report.project.artifacts"
                       placeholder="Enter Artifacts History">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="risks">Risks & Mitigation's :</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="risks" ng-model="report.project.risks"
                       placeholder="Enter Risks & Mitigation's">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="achievements">Achievements / Challenges :</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="achievements" ng-model="report.project.achievements"
                       placeholder="Enter Achievements / Challenges ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="valueAdds">Value Adds :</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="valueAdds" ng-model="report.project.valueAdds"
                       placeholder="Enter Value Adds">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="retrospection">Retrospection Done? :</label>
            <div class="col-sm-3">
                <select class="form-control" name="repeatSelect" id="retrospection"
                        ng-model="report.project.retrospectionDone"
                        ng-options="resp for resp in report.retrospectionList">
                    <option value="">-- Select Retrospection Info --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button class="btn btn-default" ng-click="report.addProjectDetails()">Add Project Details</button>
                <button class="btn btn-danger" ng-click="report.refreshForm()">Cancel</button>
            </div>
        </div>
    </form>
    <!--<div>
        <canvas id="bar" class="chart chart-bar"
                chart-data="report.data" chart-labels="report.labels" chart-series="report.series">
        </canvas>
    </div>-->
</div>
<div class="table-responsive" ng-show="report.savedProjects.length">
    <table id="defectSpreadsheetTable" class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>Release Date</th>
            <th>Project Name</th>
            <th>Team</th>
            <th>Artifacts</th>
            <th>Risks</th>
            <th>Achievements</th>
            <th>ValueAdds</th>
            <th>Retrospection Done</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in report.savedProjects | orderBy: 'releaseDate'"
            ng-click="report.updateProjectDetails(defect)">
            <td>
                <div data-toggle="tooltip" data-original-title="{{project.devMonth}}" tooltip-loader>
                    {{ report.dateFilter(project.releaseDate, report.releaseDateFormat) }}
                </div>
            <td>
                <div data-toggle="tooltip" data-original-title="{{project.storyPoints}}" tooltip-loader>
                    {{ project.projectName }}
                </div>
            <td>{{project.team}}</td>
            <td>{{project.artifacts}}</td>
            <td>{{project.risks}}</td>
            <td>{{project.achievements}}</td>
            <td>{{project.valueAdds}}</td>
            <td>{{project.retrospectionDone ? "Yes" : "No"}}</td>
        </tr>
        </tbody>
    </table>
</div>
