<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">
        <div class="container">
            <h1>
                <a class="brand" href="index.html"></a>
            </h1>

            <div class="nav-collapse">
                <ul class="nav pull-right main-menu">
                    <li class="">
                       <!-- <a href="javascript:;" class="">
                            Menu
                            <i class="icon-reorder"></i>
                        </a>-->
                    </li>
                </ul>
            </div><!--/.nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->