<div class="navbar navbar-fixed-top container">
    <div class="navbar-inner pull-left">
        <h1>
            <!--<a class="brand" href="index.html">T-Mobile</a>-->
        </h1>
    </div>
    <div class="navbar navbar-inverse pull-left">
        <ul class="nav navbar-nav">
            <li ng-class="{active: $state.includes('report')}">
                <a ui-sref="report">Project Report</a>
            </li>
            <li ng-class="{active: $state.includes('summary')}">
                <a ui-sref="summary">Defect Summary</a>
            </li>
            <li><a ui-sref="logout" ng-click="">Logout</a></li>
        </ul>
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->